<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= paginate @books %>
    <% @books.each do |book| %>
      <%= render "book", :book => book %> 
    <% end %>
    
  </tbody>
</table>
<%= paginate @books %>
<br>

<%= link_to 'New Book', new_book_path, :remote => true, :id => "new_book_link" %>
