<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  &nbsp;&nbsp;&nbsp;&nbsp;<%= @book.title %>
</p>
<br>
<p>
  <strong>Cover:</strong>
  &nbsp;&nbsp;<%= image_tag @book.cover.url(:medium) %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<h2>Comments</h2>
<%= render "comments/comments" %>
<%= render "comments/form" %>
